.container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.BarCode {
    background: white;
    text-align: center;
    border-radius: 12px;
    padding: 16px;
    margin: 28px;
}
.input {
    margin: 31px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input#textToGenerate {
    height: 51px;
    width: 100%;
    border-radius: 7px;
    border: 1px solid #00000070;
    margin: 20px 0px 10px 0px;
    padding: 3px 8px;
}
button#generateButton {
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 18px;
    background: #3498db;
    border: none;
    border-radius: 5px;
    color: #fff;
}
.Qcart {
    background: #fff;
    border-radius: 16px;
}
@media only screen and  (max-width: 430px) {
    .BarCode {
        width: 100%;
    }
}